<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.translation.dailyreport</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/a/dictation/scripts/generate_daily_report.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/a/dictation</string>

    <key>StandardOutPath</key>
    <string>/Users/a/dictation/daily_report_output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/a/dictation/daily_report_error.log</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
